@media screen and (max-width: 576px){
    .navbar{
        flex-direction: row;
        padding: 52px 20px;
    }
    
    .nav-menu{
        display: none;
    }
    .hamburger{
        display: block;
    
    }
    .health{
       flex-direction: column;
    }
    .health-container{
        margin: 0 auto;
       padding-left: 20px;
       padding-right: 20px;
    }
    .halth-img>img{
        width: 100%;
    }
    .health-img{
        padding-left: 30px;
        padding-right: 20px;
    }
    
}