@media screen and (max-width: 576px){
    .navbar{
        flex-direction: row;
        padding: 52px 20px;
    }
    
    .nav-menu{
        display: none;
    }
    .hamburger{
        display: block;
    
    }
    .health{
       flex-direction: column;
    }
    .health-container{
        margin: 0 auto;
       padding-left: 20px;
       padding-right: 20px;
    }
    .halth-img>img{
        width: 100%;
    }
    .health-img{
        padding-left: 30px;
        padding-right: 20px;
    }
      /* habit section start */
      .habit-container{
        width: 320px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .habit-title{
        font-size: 2rem;
        color: #FFFFFF;
    }
    .habit-img-container{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 50px;
    }
    /* run section start */
    .run-container{
        flex-direction: column;
        border-radius: 15px;
        align-items: center;
        gap: 30px; 
    }
    .run-content{
        width: 287px;
        height: 265px;
        margin: 33px;
    }
    
    /* bmi-section start */
    .bmi-container{
        margin: 0 auto;
        text-align: left;
        padding-left: 20px;
    }
    .container {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.1);
        padding-left: 20px;
        gap: 20px;
    }
    .bmi-chart {
        padding-left: 20px;
        border-radius: 10px;
    }
    .bmi-calculator{
        width: 570px;
        padding-top: 10px;
    }
    .form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    max-width: 350px;
    }
    /* team section start */
    .team-cotainer{
        max-width: 310px;
        margin: 0 auto;
        text-align: center;
    }
    .team-title{
        font-size: 2rem;
        color: #FFFFFF;  
    }
    .team-img-container{
        max-width: 335px;
       margin: 0 auto;
       display: flex;
       flex-direction: column;
       background-color: rgba(255, 255, 255, 0.1);
        margin-top: 40px;
        padding: 10px;
        border-radius: 15px;
    }
    .team-img{
        position: relative;
    }
    .team-img-title{
        font-size: 1.10rem;
        color: #FFFFFF;
        position: absolute;
        top: 160px;
        left: 18px;
    }
    .team-img-subtitle{
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.5);;
        position: absolute;
        top: 180px;
        left: 18px;
    }
    .team-img>img{
        width: 80%;
        max-height: 70%;
        border-radius: 18px;
    }
}