
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
/* header section style start */
.header-option{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(17, 17, 17, 1);
}
/* navbar style start */
.navbar{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-text{
    font-size: 2.25rem;
    font-weight: bold;
    color: #E6533C;
    font-style: italic;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.list-item{
    list-style: none;
    text-decoration: none;
    font-size: 1.125rem;

}
#home-list-item{
    background-color: #E6533C;
    border: none;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
}
.list-item-menu{
    text-decoration: none;
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 1.125rem;
}
.hamburger{
    color: white;
    display: none;
}
/* navbar style end */