
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 /* @import url('https://fonts.cdnfonts.com/css/miami'); */
 
 @import url('https://fonts.cdnfonts.com/css/real-miami');


                

                

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* shared style */
.primary-btn{
    background-color: #E6533C;
    border: none;
    border-radius: 43px;
    font-size: 1.25rem;
    font-weight: 600;
    width: 210px;
    height: 50px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-right: 30px;
    }

/* header section style start */
.header-option{
    max-width: 1440px;
    margin: 0 auto;
    /* height: 715px; */
    background-color: rgba(17, 17, 17, 1);
}
/* navbar style start */
.navbar{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}
.nav-text{
    font-size: 2.25rem;
    font-weight: bold;
    color: #E6533C;
    font-style: italic;
}
.nav-menu{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.082);
    width: 358px;
}
.list-item{
    list-style: none;
    text-decoration: none;
    font-size: 1.125rem;
    width: ;

}
#home-list-item{
    background-color: #E6533C;
    border: none;
    border-radius: 50px;
    width: 85px;
    text-align: center;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    margin-left: 5px;
}
.list-item-menu{
    text-decoration: none;
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 1.125rem;
}
.hamburger{
    color: white;
    display: none;
}
/* health style start */
.health{
    display: flex;
    gap: 90px;
}
.health-container{
    width: 600px;
    margin-left: 170px;
    margin-top: 90px;
   
}
.health-title{
    font-size: 4.875rem;
    color: #FFFFFF;
    line-height: normal;
}
.health-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    
}
.join-btn{
    background-color: #E6533C;
    border: none;
    border-radius: 43px;
    font-size: 1.25rem;
    font-weight: 600;
    width: 210px;
    height: 50px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-right: 30px;
}
.download-btn{
    background-color: black;
    border: 1px solid white;
    border-radius: 43px;
    font-size: 1.25rem;
    font-weight: 600;
    width: 210px;
    height: 50px;
    color: #FFFFFF;
}

.health-shape{
    font-family: 'Real Miami', sans-serif;
    font-weight: normal;                                              
}
/* health img style start */
.health-img{
    position: relative;
}
.halth-img>img{
    width: 100%;
}
.card1{
    background-color: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.card-container{
    display: flex;
    gap: 15px;
}
.card-circle{
    background-color: #E6533C;
    width: 50px;
    border-radius: 50%;
}
.card-description{
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
}
.card-title{
    color:#FAFAF9 ;
}
.card2-container{
    background-color: rgba(48, 48, 48, 0.54);
    width: 195px;
    height: 85px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.card1{
    position: absolute;
    bottom: 100px;
}
.card2{
    position: absolute;
    left: 220px;
    bottom: 350px;
}
/* main-section style start */
.main-content{
    margin: 0 auto;
        
}
.main-content>section{
    margin-top: 100px;
}

.habit{
    max-width: 1044px;
    margin: 0 auto;
}
.habit-container{
    width: 670px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 187px 58px 158px;
}
.habit-title{
    font-size: 3rem;
    color: #FFFFFF;
}
.habit-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.habit-img-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.img-item>img{
   border-radius: 50%;
}
.habit-img-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
}
.habit-img-description{
    font-size: 0.90rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}
.img-content{
   width: 231px;
   text-align: center;
}
/* run section style start */
.run-section{
    max-width: 1060px;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 10px;
}
.run-container{
    display: flex;
    border-radius: 15px;
    align-items: center;
    gap: 200px; 
}
.run-content{
    width: 450px;
    height: 290px;
    margin-top: 40px;
    margin-left: 54px;
}
.run-title{
    font-size: 3rem;
    color: #FFFFFF;
}
.run-description{
    font-size: 1rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}
.run-img>img{
    width: 100%;
    border-radius: 15px;
    height: 300px;
}
/* bmi-section style start */
.bmi-container{
    max-width: 670px;
    margin: 0 auto;
    text-align: left;
}
.bmi-title{
    font-size: 3rem;
    color: #FFFFFF;
}
.bmi-description{
    font-size: 1rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.container {
    display: flex;
    gap: 150px;
    /* background-color: #2b2b2b; */
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 190px;
}

.bmi-chart {
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
}
.bmi-calculator{
    width: 570px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}
.form-container>select{
    color: rgba(255, 255, 255, 0.6);
}
.selector2{
    grid-column: 2 span;
    
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #444;
}
th{
    color: #FFFFFF;;
}
td,p{
    color: rgba(255, 255, 255, 0.6);
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}
/* team section style start */
.team{
    max-width: 1070px;
    margin: 0 auto;
}
.team-cotainer{
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}
.team-title{
    font-size: 3rem;
    color: #FFFFFF;
    
}
.team-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);;
}
.team-img-container{
    max-width: 1060px;
    /* max-height: 650px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    padding: 10px;
    border-radius: 15px;
}
.team-img{
    position: relative;
}
.team-img-title{
    font-size: 1.10rem;
    color: #FFFFFF;
    position: absolute;
    top: 190px;
    left: 18px;
}
.team-img-subtitle{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);;
    position: absolute;
    top: 215px;
    left: 18px;
}
.team-img>img{
    width: 100%;
    max-height: 80%;
    border-radius: 18px;
}